@media only screen and (max-width: 1024px) {
  .nav h1,
  .slider h1,
  h3,
  h4,
  p {
    font-size: calc(4vw - 9px);
  }

  .nav h2,
  .slider h2 {
    font-size: calc(1.5vw - 9px);
    letter-spacing: calc(0.15vw - 0.09em);
  }

  .nav-tab {
    font-size: calc(1.8vw - 9px);
  }

  img,
  .progress-chart-container div {
    width: calc(33.33% - 24px);
  }
}

@media only screen and (max-width: 768px) {
  .nav h1,
  .slider h1,
  h3,
  h4,
  p {
    font-size: calc(6vw - 9px);
  }

  .nav h2,
  .slider h2 {
    font-size: calc(2vw - 9px);
    letter-spacing: calc(0.2vw - 0.09em);
  }

  .nav-tab {
    font-size: calc(1.5vw - 9px);
  }

  img,
  .progress-chart-container div {
    width: calc(33.33% - 24px);
  }
}

@media only screen and (max-width: 480px) {
  .nav h1,
  .slider h1,
  h3,
  h4,
  p {
    font-size: calc(10vw - 9px);
  }

  .nav h2,
  .slider h2 {
    font-size: calc(3vw - 9px);
    letter-spacing: calc(0.3vw - 0.09em);
  }

  .nav-tab {
    font-size: calc(2vw - 9px);
  }

  img,
  .progress-chart-container div {
    width: calc(33.33% - 24px);
  }
}
